{%extends "user/base.html"%}

{%block title%}Analytics{% endblock %}
{%block title2%}Analytics{% endblock %}

{%block content%}

<div class="dashboard-view" id="analytics">
  <div class="empty-state">
    <div class="empty-state-icon">
      <span class="fa fa-bar-chart"></span>
    </div>
    <h3 class="empty-state-title">Analytics</h3>
    <p class="empty-state-description">Generate detailed API reports and analytics.</p>
  </div>
</div>

{% endblock %}

{% block script %}

<script src="/static/js/sample.js"></script>
      <script>
        $("#dashboardTitle").html(`Analytics`)
        $(".ana-act").addClass('active')
      </script>
{% endblock %}