aiosqlite
cryptography
Flask
flask-cors
Flask-JWT-Extended
flask-limiter
flask-marshmallow
flask-migrate
Flask-SQLAlchemy
httpx
jsonschema
marshmallow-sqlalchemy
pydantic
pymysql
python-dotenv
requests
sqlalchemy>=1.4
Werkzeug